/*======================
    404 page
=======================*/


.page_404 {
    padding: 40px 0;
    margin-top: -74px;
    background: #fff;
    font-family: 'Arvo', serif;
}
    .container {
            width: 100%;
            max-width: 1200px;
            /* Adjust this value to your desired container width */
            margin-left: auto;
            margin-right: auto;
            padding-left: 15px;
            padding-right: 15px;
        }
.row::after {
    content: "";
    display: table;
    clear: both;
}
.col-sm-10 {
    width: 83.33333333%;
    /* 10/12 = 0.833333333 */
    float: left;
}

.col-sm-offset-1 {
    margin-left: 8.33333333%;
    /* 1/12 = 0.083333333 */
}

.text-center {
    text-align: center;
}

.col-sm-12 {
    width: 100%;
    float: left;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.page_404 img {
    width: 100%;
}

.four_zero_four_bg {

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}


.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #8d021f;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top: -50px;
}